
body{
  display: block;
  background:  #C0DEDA;
}

#container{
  display: block;
  margin: 1rem;
  padding: 2rem;
  background: #C2CBE4;
}


h1{
  font-size: 3rem;
  font-family: 'Dela Gothic One', 'Architects Daughter','Shadows Into Light', cursive;
}


p{
  font-size: 2rem;
  font-family: 'Open Sans', 'Oswald', sans-serif;
}

table{
  border: 2px;
  padding: 1rem;
  border-collapse: collapse;
}


img {
    display: block;
    margin: auto;
    max-width: 100%;
}

a{
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  color: #F4F3EA;
}


@media screen and (max-width: 780px){

    #container {
        padding: 1rem;
        margin:auto;
        width:100%;

    }
    h1 {
        padding: .5rem;
        font-size: 2rem;
    }

    h1 {
        padding: .5rem;
        font-size: 1.3rem;
    }


    p{
      font-size: 1rem;
    }

    table{
      overflow-x:auto;
      width:70%;
    }


    ul{
      color: #FFE933;
      font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px){


#container{
  margin: 0;
  width: fit-content;
  height: 100%;
  display: block;
  padding:0;
  max-width: 100%;
}

body{
  margin:0;
  width: 100%;
  height:100%;
  padding: 0;
  max-width: 100%;
  width: fit-content;
  font-size: 1rem;
}

html{
  padding:0;
  margin:0;
  max-width: 100%;
  width: fit-content;

}

h1{
  font-size: 1rem;
  font-family: 'Dela Gothic One', cursive;
}
}
